.pagina1 {
    width: 100%;
    height: 100%;

    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoMarca {
    width: 450px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Righteous';
    font-size: 64px;
    align-items: center;
    cursor: pointer
}

.logoMarca img {
    width: 86px;
    height: 100px;
    margin-right: 30px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.paginaDeBoasVindas {
    width: 300px;
    height: 100%;

    font-size: 50px;
    font-family: 'Righteous';
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paginaDeBoasVindas img {
    width: 153px;
    height: 178px;
    margin-bottom: 25px;
}

.paginaDeBoasVindas h1 {
    margin-bottom: 40px;
}

.pagina1 button {
    width: 250px;
    height: 58px;
    color: #D70900;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: white;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
}

.pagina1 button:active {
    transform: scale(0.97);
}


/* Pagina Reacall */
.paginaZapReacall {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.conteudo {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.galeriaDePerguntas {
    height: 100%;
    margin-top: 60px;
    font-family: 'Recursive';
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.pergunta, .perguntaVerde, .perguntaVermelha, .perguntaLaranja {
    width: 500px;
    height: 80px;
    background-color: white;
    font-family: 'Recursive';
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba( 0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.perguntaVerde {
    color: #2FBE34;
    text-decoration-line: line-through;
}

.perguntaVermelha {
    color: #FF3030;
    text-decoration-line: line-through;
}

.perguntaLaranja {
    color: #FF922E;
    text-decoration-line: line-through;
}

.pergunta ion-icon:active {
    transform: scale(0.97);
}

.pergunta > ion-icon {
    width: 31px;
    height: 36px;
    cursor: pointer;
}

.pergunta ion-icon[name="play"] {
    display: none;
}

.invisivel {
    display: none;
}

.perguntas {
    width: 500px;
    height: 131px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.perguntas, .resposta {
    margin-top: 10px;
    margin-bottom: 20px;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-size: 18px;
    font-family: 'Recursive';
    font-weight: 400;
    line-height: 22px;

    padding: 15px 10px 0 10px;
}

.perguntas p {
    width: 70%;
}

.perguntas img {
    width: 25px;
    height: 25px;
    margin-top: 80px;
    cursor: pointer;
}

.barraInferior {
    width: 100%;
    height: 85px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 20px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


.resposta {
    width: 500px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resposta p {
    margin-bottom: 20px;
}

.status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.vermelho, .laranja, .verde {
    width: 120px;
    height: 50px;
    padding-top: 16px;
    font-size: 15px;
    font-family: 'Recursive';
    font-weight: 400;
    color: white;
    line-height: 14px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.vermelho p, .laranja p, .verde p {
    width: 80px;
}

.vermelho {
    margin-right: 10px;
    background-color: #FF3030;
}

.laranja {
    margin-right: 10px;
    background-color: #FF922E;
}

.verde {
    background-color: #2FBE34;
}

@media screen and (max-width: 550px){
    .logoMarca {
        width: 400px;
        font-size: 50px;
    }

    .logoMarca img {
        width: 69px;
        height: 80px;
    }

    .pergunta, .perguntaVerde, .perguntaVermelha, .perguntaLaranja {
        width: 435px;
        height: 75px;
    }

    .perguntas, .resposta {
        width: 435px;
    }

    .vermelho, .laranja, .verde {
        width: 100px; 
    }


    .vermelho p, .laranja p, .verde p {
        width: 60px;
    }

    .vermelho, .laranja {
        margin-right: 8px;
    }
}

@media screen and (max-width: 414px) {
    .logoMarca {
        width: 400px;
        font-size: 36px;
    }

    .logoMarca img {
        width: 52px;
        height: 60px;
    }

    .galeriaDePerguntas {
        margin-top: 40px;
    }

    .pergunta, .perguntaVerde, .perguntaVermelha, .perguntaLaranja {
        width: 340px;
        height: 70px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .pergunta > ion-icon {
        width: 25px;
        height: 28px;
    }

    .pagina1 {
        margin-top: 120px;
    }

    .paginaDeBoasVindas {
        font-size: 36px;
    }

    .paginaDeBoasVindas img {
        width: 136px;
        height: 161px;
    }

    .paginaDeBoasVindas h1 {
        margin-bottom: 40px;
    }

    .paginaDeBoasVindas button {
        width: 246px;
        height: 54px;
        font-size: 18px;
    }

    .perguntas, .resposta {
        width: 340px;
    }

    .vermelho, .laranja, .verde {
        width: 85px; 
    }
}

@media screen and (max-width: 375px) {
    .galeriaDePerguntas {
        margin-top: 40px;
    }

    .pergunta, .perguntaVerde, .perguntaVermelha, .perguntaLaranja {
        width: 300px;
        height: 65px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .pergunta > ion-icon {
        width: 20px;
        height: 23px;
    }

    .barraInferior {
        font-size: 18px;
    }

    .perguntas, .resposta {
        width: 300px;
    }

    .vermelho, .laranja, .verde {
        width: 85px; 
    }
}

@media screen and (max-width: 375px) {
    .logoMarca {
        width: 400px;
        font-size: 36px;
    }

    .logoMarca img {
        width: 52px;
        height: 60px;
    }
}
